:root {
    /* This variable is going to be modified by js */
    --progress-color: #45BA66;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body {
    background-color: #fbfbfb!important;
    font-family: 'Inter', sans-serif!important;
}
/* html, body {
    height: 100%; 
} */

div {
    /* border: 1px solid black; */
}

.col {
    border: 1px solid #DBDBDB;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.myCanvas {
    position: fixed;
    border: 1px solid;
    width: 100%;
    height: 100%;
    z-index: -1;

}

/* ====================================== */
/*BOOTSRAP CLASSES MODIFIED BY ME DELETING SOME PARAMS*/
.row-boostrap {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row-boostrap > * {
    flex-shrink: 0;
    /* width: 100%; */
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * .5); */
    /* padding-left: calc(var(--bs-gutter-x) * .5); */
    margin-top: var(--bs-gutter-y);
}

.myCol-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

 /* ======================================= */
/* NAV SIDE CLASSES */
.bg {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(94, 94, 94);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;

}

.imageBg {
    background-image: url("../img/bg-image.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-hr-white-border {
    border: 2px solid #FFFFFF;
    border-radius: 0px;
    opacity: 1!important;
    width: 100%;

}

.side-nav > h1{
    word-wrap: break-word;
    hyphens: auto;
}
.inputs-elements > div {
    margin: 1em;
}

.inputs-elements > form > input, .inputs-elements > form > button  {
    width: 100%!important;
    display: flex;
    background: #404243 !important;
    mix-blend-mode: hard-light;
    border-radius: 5px;
    color: white !important;
    border:none!important;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
    justify-content: center;
}
form {
    padding: 1em;
}


.inputs-elements > div:first-child > input::placeholder {
    color: white;
}

.inputs-elements > ul {
    margin: 0;
    padding: 0;
}
.inputs-elements > ul > li {
    list-style: none;
    padding: 1em;
    color: #D3E6FE;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
    transition: 0.2s ease-in-out;
    mix-blend-mode: hard-light;
}

.list-background {
    background: #404243 !important;
}

.inputs-elements > ul > li:hover {
    background: #404243 !important;
    mix-blend-mode: hard-light;
    width: 100%!important;
    transform: scale(1.05);
}



/*===================MAIN-TITTLE================================*/

.main {
    margin-left:  18em;
    transition: 0.55s;
}
.main-tittle {
    padding-top: 5%;
}

.myFontClass-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    color: #212121;
}
.myFontClass-2 {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;

    color: #212121;
}
.btn {
    background: #F0F0F0;
    border: 1px solid #D7D7D7;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-left: 1em;
}

.hr-main {
    border: 3px solid #212121!important;
    opacity: 1!important;
    /* transform: rotate(-0.11deg); */
}



/* ==================== CARD-PART ===============*/

.myCard-tittle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}
.myCard-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 145.02%;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
}

.card {
    width: 100%!important;
    height: 100%!important;
    border-bottom: 5px solid var(--progress-color)!important;
    /* box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
}

.card-button-succes {
    background-color: var(--progress-color)!important;
    margin-left: 0!important;
}

.card-button-group {
    display: flex;
}
.card:hover {
    cursor: pointer;
    animation: scale-card 1.2s infinite;
}


/* Make div-tittle (tittle and cross) of card flexbox and responsive */
.div-group-card-tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
.div-group-card-tittle > h5 {
    margin-right: auto;
}



/* ==================== FORM-PART ===============*/

.form-task-creat {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    max-width: 456px;
    max-height: 600px;
    width: 100vw;
    transition: all 0.3s ease;
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}

form {
    padding: 0!important;
}

.form-bg {
    background-color: white;
    padding: 3em;
}
form > div > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.myForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.myForm input {
    border-bottom: 3px solid #0151A0;

}

#taskTextarea {
    border-bottom: 3px solid #0151A0;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0151A0!important;
    outline: 0;
    box-shadow: none!important;
}





@media (max-width: 1378px) {
    .bg {
      width: 5%;  
    }
    .bg > * {
        display: none;
    }
    .main {
        margin-left: 5%;
    }
}
@media (max-width: 522px) {
    .btn {
        margin-top: 1em!important ;
    }
}

/*============*/

/* 
@keyframes scale-card {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1);}
} */